.card__image {
  height: 413px;
width: 413px;
object-fit: cover;
display: block;
border-radius: 8px;
}

.card__like-button{
  background-image: url(../images/Heart.svg);
  width: 24px;
  height: 24px;
border:none;
background-color: transparent;
opacity: 40%;
background-size: cover;


}

.card__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  max-width: 413px;

}

@media  screen and (max-width: 627px) {
.card__image {
  height: 288px;
}
}